<fieldset>
  <legend>Search History</legend>
	<% @user.locations.each do |location|%>
  	<p><%= link_to location.address, user_location_path(current_user, location)%></p>
  <% end %>
</div>

</fieldset>