<h1>SkyCast Inc.</h1>
<h3>A disruptive new weather data startup, SkyCast Inc., are looking to change the way people read weather forecasts and would like a stable base to iterate from.</h3>
<h2>Please <i><u>register/login</u></i> to enter in any location and retrieve current and useful information about the weather in that area, as well as a future forecast.</h2>