<h1>Current Weather details for: <div id="address"><%= @location.address%></div></h1>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Current Temperature</th>
			<th>Summary</th>
			<th>Rain %</th>
			<th>Humidity</th>
		</tr>
	</thead>
	<tbody>
		<tr id="forecast">
		</tr>
	</tbody>
</table>
</br>
<hr>
<div id="weather"></div>
</br>
<hr>
<h3>Historic Weather Information(Last year)</h3>
<table>
	<thead>
		<tr>
			<th>Temperature</th>
			<th>Summary</th>
			<th>Rain %</th>
			<th>Humidity</th>
		</tr>
	</thead>
	<tbody>
		<tr id="history-forecast">
		</tr>
	</tbody>
</table>
